{% extends "newPage.html" %}

{% block title %} CigarList {% endblock %}

{% block content %}
    {% if cigar_List %}
        <ul>
            {% for cigar in cigar_List %}
                <li>
                    {{ cigar.pub_date }} ¿Parado? {{ cigar.stopped }}
                    <form id="deleteForm" action="{% url 'chat:delete'  %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Borrar</button>
                        <input type="hidden" name="id" value={{ cigar.id }}>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No cigars =D.</p>
    {% endif %}
{% endblock content %}