<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Track</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dar bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'polls:index'%}">Encuestas? <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat:index'%}">Chat</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="container-fluid">
    <h2><a href="{% url 'chat:cigars'%}"> Cigars</a></h2>
    <div class="row m-2">
        <div class="col">
            <button id="button_1" type="button" class="btn btn-success m-1 btn-block"><i class="material-icons">&#xeb4a;</i></button>
        </div>
        <div class="col">
            <button id="button_2" type="button" class="btn btn-danger m-1 btn-block"><i class="material-icons">&#xeb4b;</i></button>
        </div>

    </div>
    <div class="dropdown-divider"></div>
    <div class="row m-2">
        <div class="col">
            <button type="button" class="btn btn-secondary m-1 btn-block">btn 1</button>
        </div>
        <div class="col">
            <button type="button"  class="btn btn-secondary m-1 btn-block">btn 2</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary m-1 btn-block">btn 3</button>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                }
            }
        });


        console.log(Cookies.get('csrftoken'))
        $("#button_1").click(function(e) {
            e.preventDefault();
            $.ajax({
                type: "get",
                url: "smoke/",
                success: function(result) {
                    alert('ok');
                },
                error: function(result) {

                    alert('error');
                }
            });
        })

        $("#button_2").click(function(e) {
            e.preventDefault();
            $.ajax({
                type: "post",
                url: "smoke/",
                success: function(result) {
                    alert('ok');
                },
                error: function(result) {
                    alert('error');
                    console.log(csrftoken)
                    console.log(result)
                }
            });
        })
    })
</script>
</body>
</html>