{% extends "newPage.html" %}

{% block title %}
    Tracker
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <h2><a href="{% url 'chat:cigars'%}"> Cigars</a></h2>
        <div class="row m-2">
            <div class="col">
                <button id="button_1" type="button" class="btn btn-success m-1 btn-block"><i class="material-icons">&#xeb4a;</i></button>
            </div>
            <div class="col">
                <button id="button_2" type="button" class="btn btn-danger m-1 btn-block"><i class="material-icons">&#xeb4b;</i></button>
            </div>
        </div>

        <div class="dropdown-divider"></div>
        <div class="row m-2">
            <div class="col">
                <button type="button" class="btn btn-secondary m-1 btn-block">btn 1</button>
            </div>
            <div class="col">
                <button type="button"  class="btn btn-secondary m-1 btn-block">btn 2</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary m-1 btn-block">btn 3</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                    }
                }
            });


            console.log(Cookies.get('csrftoken'))
            $("#button_1").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "get",
                    url: "smoke/",
                    success: function(result) {
                        alert('ok');
                    },
                    error: function(result) {

                        alert('error');
                    }
                });
            })

            $("#button_2").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "post",
                    url: "smoke/",
                    success: function(result) {
                        alert('ok');
                    },
                    error: function(result) {
                        alert('error');
                        console.log(csrftoken)
                        console.log(result)
                    }
                });
            })
        })
    </script>
{% endblock content %}